*,
*:before,
*:after {
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #3B3E66;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;  
}

.container{
    max-width: 1054px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;    
}

/*Style for header*/
.sign-in{
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Style for page-heading*/

.page-heading{
    background-size: cover;
}
.banner{
    background: url(img1/airpods_pro_banner.png) center center no-repeat;
    min-height: 467px;
    position: relative;
}
.text-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.text-banner h1{  
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 25px;

}
.btn {
    border-radius: 5px;
    background-color: #0E49B5;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

/*Styles for filter*/

.container-element-filter{
    position: relative;
}
.filter-icon{
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
}
.filter-block:hover{
    transform: scale(1.2);
}
.search {
    background-image: url('img1/search1.svg'); 
    background-position: 20px 50%; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 18px; 
    padding: 12px 20px 12px 60px; 
    border: 1px solid #ddd; 
    margin: 30px 0;
    height: 60px; 
    border-radius: 5px;
}

/* Styles for Window-Filter*/
.window-filter-card{
    display: flex;    
    flex-wrap: wrap;
}
.window-filter{
    display: none;
}
.window-filter{
    width: 300px;
    min-width: 300px;    
    color: #000000;
    margin-right: 5px;       
}
.window-filter-headblock{
    border: 1px solid #ddd;
    font-size: 18px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-weight: 700;
    color: #000000;
    padding: 0 23px;
    cursor: pointer;
    user-select: none;
}
.window-filter-price-body{
    padding: 23px 23px;
    display: flex;
    flex-direction: column;
    display: none;
    user-select: none;   
}
.from{
    margin: 0 0 17px;
}
.from,
.to{
    display: flex;
    justify-content: space-between;
    align-items: center;     
}
.window-filter-color-body,
.window-filter-memory-body,
.window-filter-os-body,
.window-filter-display-body {
    padding: 0 23px;
    display: none; 
    user-select: none;
}
.window-filter-color-body-right{
    display: flex;
    flex-direction: column;
}
.window-filter-color-body-left{
    padding: 15px 35px 15px 0;
}

.window-filter-color-body-right{
    padding: 15px 0 15px 0;
}
.window-filter-color-body-left-1,
.window-filter-color-body-left-2,
.window-filter-color-body-left-3,
.window-filter-color-body-left-4,
.window-filter-color-body-right-5,
.window-filter-color-body-right-6,
.window-filter-color-body-right-7,
.window-filter-color-body-right-8{
    padding: 10px 0;
}

/* Styles for card*/
.container-element-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.card{
    width: 300px;
    min-width: 300px;    
    border-radius: 10px;
    border: 1px solid #ddd; 
    position: relative;
    overflow: hidden;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;   
}
.card-head{
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-grow: 1;
    position: relative;
}
.card-like-head{  
   position: absolute;
   top: 10px;   
   left: 260px;
 }
.card h2{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 0;
    text-align: center;
    color: #000000;
}
.card-body{    
    display: flex;
    justify-content: center;
    text-align: left; 
    margin: 12px 8px;
}
.card-body-text,
.card-body-img{
    text-align: left; 
    margin: 12px 8px;
    line-height: 24px;
}
.card-btn{
    text-align: center;
}
.btnNA {
    border-radius: 5px;
    background-color: #DDDDDD;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.card-footer{
    background-color: #DAE2EA;
    display: flex;    
    padding: 23px 19px 18px;
    margin-top: 15px;
}
.card-footer-body{
    margin-right: 55px;
    
}
.icon-footer-like{
    margin-right: 13px;
}
.card-footer-footer{
    text-align: center;
}


/*responsive*/

@media (max-width:1050px) {
    
    .container-element-card{
        
        justify-content: center;
            
    }
    .card{
        margin: 0 10px 50px;
    }
 
       
}

@media (max-width:830px) {
    
    .card{
        margin: 0 10px 50px;
    }
}

@media (max-width:730px) {
    
    .card{
        margin: 0 5px 50px;
    }
}

